In [1]:
%pylab inline
import glob
import re
import pandas as pd
import json

Populating the interactive namespace from numpy and matplotlib

### Cohesion test

In [2]:
results_cohesion = pd.read_json("../results/experiment_W2V_several_runs_WEAT_2/WEAT/cohesion_test_3.json")
results_cohesion.head(3)

,test_name,weat_test_num,iter,corpus,A_words,B_words,X_words,Y_words,set_names,p_cohesion_attributes,p_cohesion_targets
0,Flowers_Insects_Pleasant_Unpleasant,3,2,all,"[family, honest, gift, wonderful, vacation, mi...","[cancer, agony, stink, sickness, poverty, acci...","[lilac, bluebell, violet, crocus, buttercup, i...","[cockroach, maggot, locust, roach, centipede, ...","{'A': 'Pleasant', 'B': 'Unpleasant', 'X': 'Flo...","[0.1102, 0.0, 0.0]","[0.0, 0.0, 0.0]"
1,Male_Female_Career_Family,3,2,all,"[corporation, professional, career, office, bu...","[family, marriage, wedding, children, home]","[paul, kevin, steve, greg, jeff, john, bill, m...","[diana, kate, joan, sarah, donna, lisa, amy, ann]","{'A': 'Career words', 'B': 'Family words', 'X'...","[0.1418, 0.2126, 0.0002]","[0.0005, 0.5122, 0.0]"
2,Math_Arts_Male_Female,3,2,all,"[brother, grandfather, his, son, father, man, ...","[girl, hers, her, aunt, daughter, sister, fema...","[addition, math, numbers, geometry]","[poetry, drama, art, dance]","{'A': 'Male attributes', 'B': 'Female attribut...","[0.2705, 0.1317, 0.027100000000000003]","[0.007200000000000001, 0.8404, 0.0559000000000..."

In [3]:
# explicit attrib and target set names
results_cohesion = results_cohesion.merge(results_cohesion.set_names.apply(lambda sn: pd.Series(sn)), 
                                          left_index=True, right_index=True)
results_cohesion = results_cohesion.drop(columns=['test_name'])

In [4]:
def aggregate_results_cohesion(cohesion_attributes): 
        
    signifs = []
    cohesion_attributes = np.array(cohesion_attributes).T
    for ps in cohesion_attributes:
        
        ps = np.array(ps)
        
        if (ps<=0.05).all():
            ps = "**"
        elif (ps<=0.10).all():
            ps = "*"
        else:
            ps = ""
        signifs.append(ps)
        
    return signifs[-1]

In [5]:
results_cohesion_groups = results_cohesion.groupby(['A', 'B', 'X', 'Y', 'weat_test_num', 'corpus'])\
                                            .apply(lambda rows: 
                                          pd.Series({'cohesion_attributes':aggregate_results_cohesion(rows.p_cohesion_attributes.tolist()), 
                                                     'cohesion_targets':aggregate_results_cohesion(rows.p_cohesion_targets.tolist())}) )
                                                   
#results_cohesion_groups = results_cohesion_groups.reset_index()   
results_cohesion_groups.sort_index(level=['weat_test_num'])

                                                                                            cohesion_attributes  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all                     **
                                                                                     female
                                                                                     male                    **
                                  Male names new      Female names new 3             all                     **
                                                                                     female
                                                                                     male                    **
Male attributes Female attributes Career words        Family words     3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  Intelligence words  Appearance words 3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  MatSci words        Arts words       3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  Math words          Arts words       3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  Science words       Arts words       3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  Strenght words      Weakness words   3             all                     **
                                                                                     female                  **
                                                                                     male                    **
Pleasant        Unpleasant        Flowers             Insects          3             all                     **
                                                                                     female                  **
                                                                                     male                    **
                                  Musical instruments Weapons          3             all                     **
                                                                                     female                  **
                                                                                     male                    **

                                                                                            cohesion_targets
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all                  **
                                                                                     female               **
                                                                                     male                 **
                                  Male names new      Female names new 3             all                  **
                                                                                     female               **
                                                                                     male                 **
Male attributes Female attributes Career words        Family words     3             all                  **
                                                                                     female
                                                                                     male                 **
                                  Intelligence words  Appearance words 3             all                  **
                                                                                     female               **
                                                                                     male                 **
                                  MatSci words        Arts words       3             all                  **
                                                                                     female               **
                                                                                     male                 **
                                  Math words          Arts words       3             all                   *
                                                                                     female
                                                                                     male                 **
                                  Science words       Arts words       3             all                  **
                                                                                     female               **
                                                                                     male                 **
                                  Strenght words      Weakness words   3             all                  **
                                                                                     female                *
                                                                                     male                 **
Pleasant        Unpleasant        Flowers             Insects          3             all                  **
                                                                                     female               **
                                                                                     male                 **
                                  Musical instruments Weapons          3             all                  **
                                                                                     female               **
                                                                                     male                 **

### WEAT

In [6]:
results_weat = pd.read_json("../results/experiment_W2V_several_runs_WEAT_2/WEAT/weat_test_3.json")
results_weat.head(3)

,test_name,weat_test_num,iter,corpus,A_words,B_words,X_words,Y_words,set_names,weat_test,SC-WEAT,weat_boot
0,Flowers_Insects_Pleasant_Unpleasant,3,2,all,"[family, honest, gift, wonderful, vacation, mi...","[cancer, agony, stink, sickness, poverty, acci...","[lilac, bluebell, violet, crocus, buttercup, i...","[cockroach, maggot, locust, roach, centipede, ...","{'A': 'Pleasant', 'B': 'Unpleasant', 'X': 'Flo...","{'effect_size': 1.6560491655, 'p': 0.0}","{'X': {'score': 1.2218369922, 'p': 0.003}, 'Y'...","{'effect_size': 1.7720505120999999, 'CI_l': 1...."
1,Male_Female_Career_Family,3,2,all,"[corporation, professional, career, office, bu...","[family, marriage, wedding, children, home]","[paul, kevin, steve, greg, jeff, john, bill, m...","[diana, kate, joan, sarah, donna, lisa, amy, ann]","{'A': 'Career words', 'B': 'Family words', 'X'...","{'effect_size': 1.5170470709, 'p': 0.002}","{'X': {'score': 0.8792345116, 'p': 0.153}, 'Y'...","{'effect_size': 1.6938152815, 'CI_l': 1.656510..."
2,Math_Arts_Male_Female,3,2,all,"[brother, grandfather, his, son, father, man, ...","[girl, hers, her, aunt, daughter, sister, fema...","[addition, math, numbers, geometry]","[poetry, drama, art, dance]","{'A': 'Male attributes', 'B': 'Female attribut...","{'effect_size': 0.9241621236, 'p': 0.145}","{'X': {'score': 0.46538453300000004, 'p': 0.27...","{'effect_size': 1.2206450904000001, 'CI_l': 1...."

In [7]:
# explicit attrib and target set names
results_weat = results_weat.merge(results_weat.set_names.apply(lambda sn: pd.Series(sn)), 
                                          left_index=True, right_index=True)
results_weat = results_weat.drop(columns=['test_name'])

In [8]:
def aggregate_results_weat(weat): 
    
    effect_size = weat[0]['effect_size']
    ps = np.array([w['p'] for w in weat])
    
    if (ps<=0.05).all():
        ps = "**"
    elif (ps<=0.10).all():
        ps = "*"
    else:
        ps = ""
        
    return {'effect_size':effect_size, 'p':ps}

In [9]:
results_weat_groups = results_weat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_weat(rows.sort_values('iter').weat_test.tolist())) )
#results_weat_groups = results_weat_groups.reset_index()
results_weat_groups.sort_index(level=['weat_test_num'])

                                                                                             effect_size  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all        1.480156
                                                                                     female     0.844256
                                                                                     male       1.183419
                                  Male names new      Female names new 3             all        0.893732
                                                                                     female     0.569915
                                                                                     male       0.841706
Male attributes Female attributes Career words        Family words     3             all        0.565094
                                                                                     female     0.036277
                                                                                     male       0.379847
                                  Intelligence words  Appearance words 3             all        0.392846
                                                                                     female     0.058303
                                                                                     male       0.714468
                                  MatSci words        Arts words       3             all        0.935310
                                                                                     female     1.293379
                                                                                     male       0.374307
                                  Math words          Arts words       3             all        1.154416
                                                                                     female     1.498697
                                                                                     male       0.518771
                                  Science words       Arts words       3             all        0.953692
                                                                                     female     1.298139
                                                                                     male       0.449886
                                  Strenght words      Weakness words   3             all        1.156309
                                                                                     female     0.324286
                                                                                     male       1.021916
Pleasant        Unpleasant        Flowers             Insects          3             all        1.729863
                                                                                     female     2.001729
                                                                                     male       1.591860
                                  Musical instruments Weapons          3             all        2.966327
                                                                                     female     1.859024
                                                                                     male       1.987712

                                                                                              p
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all     **
                                                                                     female
                                                                                     male     *
                                  Male names new      Female names new 3             all     **
                                                                                     female
                                                                                     male    **
Male attributes Female attributes Career words        Family words     3             all
                                                                                     female
                                                                                     male
                                  Intelligence words  Appearance words 3             all
                                                                                     female
                                                                                     male     *
                                  MatSci words        Arts words       3             all
                                                                                     female   *
                                                                                     male
                                  Math words          Arts words       3             all
                                                                                     female   *
                                                                                     male
                                  Science words       Arts words       3             all      *
                                                                                     female   *
                                                                                     male
                                  Strenght words      Weakness words   3             all     **
                                                                                     female
                                                                                     male    **
Pleasant        Unpleasant        Flowers             Insects          3             all     **
                                                                                     female  **
                                                                                     male    **
                                  Musical instruments Weapons          3             all     **
                                                                                     female  **
                                                                                     male    **

#### SC-WEAT

In [10]:
def aggregate_results_scweat(weat): 
    
    res = {}
    for i in ['X', 'Y']:
    
        score = weat[0][i]['score']
        ps = np.array([w[i]['p'] for w in weat])

        if (ps<=0.05).all():
            ps = "**"
        elif (ps<=0.10).all():
            ps = "*"
        else:
            ps = ""
            
        
        res[f'score_{i}'] = score
        res[f'p_{i}'] = ps
    return res

In [11]:
results_scweat_groups = results_weat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_scweat(rows.sort_values("iter")['SC-WEAT'].tolist())) )
#results_scweat_groups = results_scweat_groups.reset_index()
results_scweat_groups.sort_index(level=['weat_test_num'])

                                                                                              score_X  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all     1.127742
                                                                                     female  1.077477
                                                                                     male    0.579971
                                  Male names new      Female names new 3             all    -0.052903
                                                                                     female  0.944016
                                                                                     male   -0.236023
Male attributes Female attributes Career words        Family words     3             all     0.643174
                                                                                     female -0.223348
                                                                                     male    1.906961
                                  Intelligence words  Appearance words 3             all     0.289070
                                                                                     female -0.079869
                                                                                     male    0.420381
                                  MatSci words        Arts words       3             all     0.502857
                                                                                     female  0.059766
                                                                                     male    0.391285
                                  Math words          Arts words       3             all     2.160344
                                                                                     female  0.129712
                                                                                     male    0.590650
                                  Science words       Arts words       3             all     0.463494
                                                                                     female  0.122141
                                                                                     male    0.424684
                                  Strenght words      Weakness words   3             all     1.709332
                                                                                     female  0.698289
                                                                                     male    1.241215
Pleasant        Unpleasant        Flowers             Insects          3             all     1.336785
                                                                                     female  1.314381
                                                                                     male    0.902690
                                  Musical instruments Weapons          3             all     0.409101
                                                                                     female  0.609092
                                                                                     male    0.229635

                                                                                            p_X  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all
                                                                                     female
                                                                                     male
                                  Male names new      Female names new 3             all
                                                                                     female
                                                                                     male
Male attributes Female attributes Career words        Family words     3             all
                                                                                     female
                                                                                     male
                                  Intelligence words  Appearance words 3             all
                                                                                     female
                                                                                     male
                                  MatSci words        Arts words       3             all
                                                                                     female
                                                                                     male
                                  Math words          Arts words       3             all
                                                                                     female
                                                                                     male
                                  Science words       Arts words       3             all
                                                                                     female
                                                                                     male
                                  Strenght words      Weakness words   3             all     **
                                                                                     female   *
                                                                                     male    **
Pleasant        Unpleasant        Flowers             Insects          3             all     **
                                                                                     female  **
                                                                                     male    **
                                  Musical instruments Weapons          3             all
                                                                                     female  **
                                                                                     male

                                                                                              score_Y  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all    -0.561313
                                                                                     female  0.080616
                                                                                     male   -0.627696
                                  Male names new      Female names new 3             all    -0.757181
                                                                                     female -0.004980
                                                                                     male   -1.037737
Male attributes Female attributes Career words        Family words     3             all     0.150292
                                                                                     female -0.337210
                                                                                     male    0.351555
                                  Intelligence words  Appearance words 3             all    -0.129999
                                                                                     female -0.088115
                                                                                     male   -0.314919
                                  MatSci words        Arts words       3             all    -0.446808
                                                                                     female -1.264651
                                                                                     male   -0.085556
                                  Math words          Arts words       3             all    -0.483241
                                                                                     female -1.422768
                                                                                     male   -0.121991
                                  Science words       Arts words       3             all    -0.493445
                                                                                     female -1.187345
                                                                                     male   -0.153950
                                  Strenght words      Weakness words   3             all     0.399450
                                                                                     female  0.241613
                                                                                     male    0.361334
Pleasant        Unpleasant        Flowers             Insects          3             all    -0.702794
                                                                                     female -0.746353
                                                                                     male   -0.777511
                                  Musical instruments Weapons          3             all    -2.792626
                                                                                     female -1.265808
                                                                                     male   -1.818026

                                                                                            p_Y
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             all
                                                                                     female
                                                                                     male    **
                                  Male names new      Female names new 3             all     **
                                                                                     female
                                                                                     male    **
Male attributes Female attributes Career words        Family words     3             all
                                                                                     female
                                                                                     male
                                  Intelligence words  Appearance words 3             all
                                                                                     female
                                                                                     male
                                  MatSci words        Arts words       3             all
                                                                                     female  **
                                                                                     male
                                  Math words          Arts words       3             all      *
                                                                                     female  **
                                                                                     male
                                  Science words       Arts words       3             all
                                                                                     female  **
                                                                                     male
                                  Strenght words      Weakness words   3             all
                                                                                     female
                                                                                     male
Pleasant        Unpleasant        Flowers             Insects          3             all     **
                                                                                     female  **
                                                                                     male    **
                                  Musical instruments Weapons          3             all     **
                                                                                     female  **
                                                                                     male    **

### SWEAT

In [12]:
results_sweat = pd.read_json("../results/experiment_W2V_several_runs_WEAT_2/WEAT/sweat_test_3.json")
results_sweat.head(3)

,test_name,weat_test_num,iter,corpus,A_words,B_words,X_words,Y_words,set_names,SWEAT_X,SWEAT_Y
0,Flowers_Insects_Pleasant_Unpleasant,3,0,male_Vs_female,"[family, honest, gift, wonderful, vacation, mi...","[cancer, agony, stink, sickness, poverty, acci...","[lilac, bluebell, violet, crocus, buttercup, i...","[cockroach, maggot, locust, roach, centipede, ...","{'A': 'Pleasant', 'B': 'Unpleasant', 'X': 'Flo...","{'score': -0.4004621961, 'p': 0.127}","{'score': -0.3076714879, 'p': 0.17200000000000..."
1,Male_Female_Career_Family,3,0,male_Vs_female,"[corporation, professional, career, office, bu...","[family, marriage, wedding, children, home]","[paul, kevin, steve, greg, jeff, john, bill, m...","[diana, kate, joan, sarah, donna, lisa, amy, ann]","{'A': 'Career words', 'B': 'Family words', 'X'...","{'score': -0.5332730344000001, 'p': 0.157}","{'score': -0.7618472725000001, 'p': 0.076}"
2,Math_Arts_Male_Female,3,0,male_Vs_female,"[brother, grandfather, his, son, father, man, ...","[girl, hers, her, aunt, daughter, sister, fema...","[addition, math, numbers, geometry]","[poetry, drama, art, dance]","{'A': 'Male attributes', 'B': 'Female attribut...","{'score': 0.3396770112, 'p': 0.30000000000000004}","{'score': 0.9109534515000001, 'p': 0.1}"

In [13]:
# explicit attrib and target set names
results_sweat = results_sweat.merge(results_sweat.set_names.apply(lambda sn: pd.Series(sn)), 
                                          left_index=True, right_index=True)
results_sweat = results_sweat.drop(columns=['test_name'])

In [14]:
def aggregate_results_sweat(sweat_x, sweat_y): 
    
    
    
    res = {}
    for i, sweat in zip(['X', 'Y'], [sweat_x, sweat_y]):
    
        score = sweat[0]['score']
        ps = np.array([w['p'] for w in sweat])

        if (ps<=0.05).all():
            ps = "**"
        elif (ps<=0.10).all():
            ps = "*"
        else:
            ps = ""
            
        
        res[f'score_{i}'] = score
        res[f'p_{i}'] = ps
    return res

In [15]:
results_sweat_groups = results_sweat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_sweat(rows.sort_values("iter")['SWEAT_X'].tolist(),
                                                                       rows.sort_values("iter")['SWEAT_Y'].tolist())) )
#results_sweat_groups = results_sweat_groups.reset_index()
results_sweat_groups.sort_index(level=['weat_test_num'])

                                                                                                      score_X  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             male_Vs_female -0.533273
                                  Male names new      Female names new 3             male_Vs_female -0.979041
Male attributes Female attributes Career words        Family words     3             male_Vs_female  1.016154
                                  Intelligence words  Appearance words 3             male_Vs_female  0.579088
                                  MatSci words        Arts words       3             male_Vs_female  0.236485
                                  Math words          Arts words       3             male_Vs_female  0.339677
                                  Science words       Arts words       3             male_Vs_female  0.142505
                                  Strenght words      Weakness words   3             male_Vs_female  0.977716
Pleasant        Unpleasant        Flowers             Insects          3             male_Vs_female -0.400462
                                  Musical instruments Weapons          3             male_Vs_female -0.454797

                                                                                                    p_X  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             male_Vs_female
                                  Male names new      Female names new 3             male_Vs_female  **
Male attributes Female attributes Career words        Family words     3             male_Vs_female
                                  Intelligence words  Appearance words 3             male_Vs_female   *
                                  MatSci words        Arts words       3             male_Vs_female
                                  Math words          Arts words       3             male_Vs_female
                                  Science words       Arts words       3             male_Vs_female
                                  Strenght words      Weakness words   3             male_Vs_female  **
Pleasant        Unpleasant        Flowers             Insects          3             male_Vs_female
                                  Musical instruments Weapons          3             male_Vs_female   *

                                                                                                      score_Y  \
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             male_Vs_female -0.761847
                                  Male names new      Female names new 3             male_Vs_female -0.922055
Male attributes Female attributes Career words        Family words     3             male_Vs_female  0.688781
                                  Intelligence words  Appearance words 3             male_Vs_female -0.278098
                                  MatSci words        Arts words       3             male_Vs_female  1.015218
                                  Math words          Arts words       3             male_Vs_female  0.910953
                                  Science words       Arts words       3             male_Vs_female  0.887801
                                  Strenght words      Weakness words   3             male_Vs_female  0.127513
Pleasant        Unpleasant        Flowers             Insects          3             male_Vs_female -0.307671
                                  Musical instruments Weapons          3             male_Vs_female -0.225646

                                                                                                    p_Y
A               B                 X                   Y                weat_test_num corpus
Career words    Family words      Male names          Female names     3             male_Vs_female
                                  Male names new      Female names new 3             male_Vs_female  **
Male attributes Female attributes Career words        Family words     3             male_Vs_female
                                  Intelligence words  Appearance words 3             male_Vs_female
                                  MatSci words        Arts words       3             male_Vs_female
                                  Math words          Arts words       3             male_Vs_female
                                  Science words       Arts words       3             male_Vs_female
                                  Strenght words      Weakness words   3             male_Vs_female
Pleasant        Unpleasant        Flowers             Insects          3             male_Vs_female
                                  Musical instruments Weapons          3             male_Vs_female

### Merge all tables

In [16]:
res_weat = results_weat_groups.sort_index(level=['weat_test_num'])

In [17]:
res_weat['effect_size'] = res_weat.apply(lambda row: "{:.2f}{}".format(row.effect_size, row.p), axis=1)
res_weat = res_weat.drop(columns=['p'])

In [18]:
res_scweat = results_scweat_groups.sort_index(level=['weat_test_num'])

In [19]:
res_scweat['scweat X'] = res_scweat.apply(lambda row: "{:.2f}{}".format(row.score_X, row.p_X), axis=1)
res_scweat['scweat Y'] = res_scweat.apply(lambda row: "{:.2f}{}".format(row.score_Y, row.p_Y), axis=1)
res_scweat = res_scweat.drop(columns=['score_X', 'p_X', 'score_Y', 'p_Y'])

In [20]:
res_scweat.reset_index(level=4)

                                                                               weat_test_num  \
A               B                 X                   Y                corpus
Career words    Family words      Male names          Female names     all                 3
                                                                       female              3
                                                                       male                3
                                  Male names new      Female names new all                 3
                                                                       female              3
                                                                       male                3
Male attributes Female attributes Career words        Family words     all                 3
                                                                       female              3
                                                                       male                3
                                  Intelligence words  Appearance words all                 3
                                                                       female              3
                                                                       male                3
                                  MatSci words        Arts words       all                 3
                                                                       female              3
                                                                       male                3
                                  Math words          Arts words       all                 3
                                                                       female              3
                                                                       male                3
                                  Science words       Arts words       all                 3
                                                                       female              3
                                                                       male                3
                                  Strenght words      Weakness words   all                 3
                                                                       female              3
                                                                       male                3
Pleasant        Unpleasant        Flowers             Insects          all                 3
                                                                       female              3
                                                                       male                3
                                  Musical instruments Weapons          all                 3
                                                                       female              3
                                                                       male                3

                                                                              scweat X  \
A               B                 X                   Y                corpus
Career words    Family words      Male names          Female names     all        1.13
                                                                       female     1.08
                                                                       male       0.58
                                  Male names new      Female names new all       -0.05
                                                                       female     0.94
                                                                       male      -0.24
Male attributes Female attributes Career words        Family words     all        0.64
                                                                       female    -0.22
                                                                       male       1.91
                                  Intelligence words  Appearance words all        0.29
                                                                       female    -0.08
                                                                       male       0.42
                                  MatSci words        Arts words       all        0.50
                                                                       female     0.06
                                                                       male       0.39
                                  Math words          Arts words       all        2.16
                                                                       female     0.13
                                                                       male       0.59
                                  Science words       Arts words       all        0.46
                                                                       female     0.12
                                                                       male       0.42
                                  Strenght words      Weakness words   all      1.71**
                                                                       female    0.70*
                                                                       male     1.24**
Pleasant        Unpleasant        Flowers             Insects          all      1.34**
                                                                       female   1.31**
                                                                       male     0.90**
                                  Musical instruments Weapons          all        0.41
                                                                       female   0.61**
                                                                       male       0.23

                                                                              scweat Y
A               B                 X                   Y                corpus
Career words    Family words      Male names          Female names     all       -0.56
                                                                       female     0.08
                                                                       male    -0.63**
                                  Male names new      Female names new all     -0.76**
                                                                       female    -0.00
                                                                       male    -1.04**
Male attributes Female attributes Career words        Family words     all        0.15
                                                                       female    -0.34
                                                                       male       0.35
                                  Intelligence words  Appearance words all       -0.13
                                                                       female    -0.09
                                                                       male      -0.31
                                  MatSci words        Arts words       all       -0.45
                                                                       female  -1.26**
                                                                       male      -0.09
                                  Math words          Arts words       all      -0.48*
                                                                       female  -1.42**
                                                                       male      -0.12
                                  Science words       Arts words       all       -0.49
                                                                       female  -1.19**
                                                                       male      -0.15
                                  Strenght words      Weakness words   all        0.40
                                                                       female     0.24
                                                                       male       0.36
Pleasant        Unpleasant        Flowers             Insects          all     -0.70**
                                                                       female  -0.75**
                                                                       male    -0.78**
                                  Musical instruments Weapons          all     -2.79**
                                                                       female  -1.27**
                                                                       male    -1.82**

In [21]:
print(res_scweat.merge(res_weat, 
                       left_index=True, right_index=True).droplevel(level=['weat_test_num']).to_latex(multirow=True))

\begin{tabular}{llllllll}
\toprule
         &            &                     &         &      & scweat X & scweat Y & effect\_size \\
A & B & X & Y & corpus &          &          &             \\
\midrule
\multirow{6}{*}{Career words} & \multirow{6}{*}{Family words} & \multirow{3}{*}{Male names} & \multirow{3}{*}{Female names} & all &     1.13 &    -0.56 &      1.48** \\
         &            &                     &         & female &     1.08 &     0.08 &        0.84 \\
         &            &                     &         & male &     0.58 &  -0.63** &       1.18* \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Male names new} & \multirow{3}{*}{Female names new} & all &    -0.05 &  -0.76** &      0.89** \\
         &            &                     &         & female &     0.94 &    -0.00 &        0.57 \\
         &            &                     &         & male &    -0.24 &  -1.04** &      0.84** \\
\cline{1-8}
\cline{2-8}
\cline{3-8}
\cline{4-8}
\multirow{18}{*}{Male attributes} & \multirow{18}{*}{Female attributes} & \multirow{3}{*}{Career words} & \multirow{3}{*}{Family words} & all &     0.64 &     0.15 &        0.57 \\
         &            &                     &         & female &    -0.22 &    -0.34 &        0.04 \\
         &            &                     &         & male &     1.91 &     0.35 &        0.38 \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Intelligence words} & \multirow{3}{*}{Appearance words} & all &     0.29 &    -0.13 &        0.39 \\
         &            &                     &         & female &    -0.08 &    -0.09 &        0.06 \\
         &            &                     &         & male &     0.42 &    -0.31 &       0.71* \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{MatSci words} & \multirow{3}{*}{Arts words} & all &     0.50 &    -0.45 &        0.94 \\
         &            &                     &         & female &     0.06 &  -1.26** &       1.29* \\
         &            &                     &         & male &     0.39 &    -0.09 &        0.37 \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Math words} & \multirow{3}{*}{Arts words} & all &     2.16 &   -0.48* &        1.15 \\
         &            &                     &         & female &     0.13 &  -1.42** &       1.50* \\
         &            &                     &         & male &     0.59 &    -0.12 &        0.52 \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Science words} & \multirow{3}{*}{Arts words} & all &     0.46 &    -0.49 &       0.95* \\
         &            &                     &         & female &     0.12 &  -1.19** &       1.30* \\
         &            &                     &         & male &     0.42 &    -0.15 &        0.45 \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Strenght words} & \multirow{3}{*}{Weakness words} & all &   1.71** &     0.40 &      1.16** \\
         &            &                     &         & female &    0.70* &     0.24 &        0.32 \\
         &            &                     &         & male &   1.24** &     0.36 &      1.02** \\
\cline{1-8}
\cline{2-8}
\cline{3-8}
\cline{4-8}
\multirow{6}{*}{Pleasant} & \multirow{6}{*}{Unpleasant} & \multirow{3}{*}{Flowers} & \multirow{3}{*}{Insects} & all &   1.34** &  -0.70** &      1.73** \\
         &            &                     &         & female &   1.31** &  -0.75** &      2.00** \\
         &            &                     &         & male &   0.90** &  -0.78** &      1.59** \\
\cline{3-8}
\cline{4-8}
         &            & \multirow{3}{*}{Musical instruments} & \multirow{3}{*}{Weapons} & all &     0.41 &  -2.79** &      2.97** \\
         &            &                     &         & female &   0.61** &  -1.27** &      1.86** \\
         &            &                     &         & male &     0.23 &  -1.82** &      1.99** \\
\bottomrule
\end{tabular}

### WEAT reverse

In [22]:
results_weat = pd.read_json("../results/experiment_W2V_several_runs_WEAT_2/WEAT/weat_test_3_rev.json")
results_weat.head(3)

,test_name,weat_test_num,iter,corpus,A_words,B_words,X_words,Y_words,set_names,weat_test,SC-WEAT,weat_boot
0,Flowers_Insects_Pleasant_Unpleasant (reverse),3,2,all,"[lilac, bluebell, violet, crocus, buttercup, i...","[cockroach, maggot, locust, roach, centipede, ...","[family, honest, gift, wonderful, vacation, mi...","[cancer, agony, stink, sickness, poverty, acci...","{'A': 'Pleasant', 'B': 'Unpleasant', 'X': 'Flo...","{'effect_size': 1.7156891760000001, 'p': 0.0}","{'X': {'score': 0.6026036760000001, 'p': 0.001...","{'effect_size': 1.7950721635, 'CI_l': 1.773915..."
1,Male_Female_Career_Family (reverse),3,2,all,"[paul, kevin, steve, greg, jeff, john, bill, m...","[diana, kate, joan, sarah, donna, lisa, amy, ann]","[corporation, professional, career, office, bu...","[family, marriage, wedding, children, home]","{'A': 'Career words', 'B': 'Family words', 'X'...","{'effect_size': 1.2969693987, 'p': 0.053}","{'X': {'score': 2.1115512851, 'p': 0.002}, 'Y'...","{'effect_size': 1.5152566666, 'CI_l': 1.454770..."
2,Math_Arts_Male_Female (reverse),3,2,all,"[addition, math, numbers, geometry]","[poetry, drama, art, dance]","[brother, grandfather, his, son, father, man, ...","[girl, hers, her, aunt, daughter, sister, fema...","{'A': 'Male attributes', 'B': 'Female attribut...","{'effect_size': 0.8659748828, 'p': 0.021}","{'X': {'score': 0.0973238225, 'p': 0.435}, 'Y'...","{'effect_size': 0.9281157368, 'CI_l': 0.900385..."

In [23]:
# explicit attrib and target set names
results_weat = results_weat.merge(results_weat.set_names.apply(lambda sn: pd.Series(sn)), 
                                          left_index=True, right_index=True)
results_weat = results_weat.drop(columns=['test_name'])

In [24]:
# since it is reverse, we need to replace A with X and B with Y
results_weat = results_weat.rename(columns={'A':'X', 'B':'Y', 'X':'A', 'Y':'B'})

In [25]:
results_weat_groups = results_weat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_weat(rows.sort_values('iter').weat_test.tolist())) )
#results_weat_groups = results_weat_groups.reset_index()
results_weat_groups.sort_index(level=['weat_test_num', 'X'])

                                                                                             effect_size  \
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all        1.097665
                                                                                     female     0.682965
                                                                                     male       1.119800
Male names new      Female names new Career words    Family words      3             all        2.160966
                                                                                     female     0.981474
                                                                                     male       2.559576
Career words        Family words     Male attributes Female attributes 3             all        0.369590
                                                                                     female     0.036608
                                                                                     male       0.169010
Intelligence words  Appearance words Male attributes Female attributes 3             all        0.639831
                                                                                     female     0.091095
                                                                                     male       0.962852
MatSci words        Arts words       Male attributes Female attributes 3             all        0.980726
                                                                                     female     0.949826
                                                                                     male       0.383980
Math words          Arts words       Male attributes Female attributes 3             all        1.321291
                                                                                     female     1.035031
                                                                                     male       0.480866
Science words       Arts words       Male attributes Female attributes 3             all        1.061182
                                                                                     female     0.920359
                                                                                     male       0.447045
Strenght words      Weakness words   Male attributes Female attributes 3             all        1.353521
                                                                                     female     0.325837
                                                                                     male       1.200716
Flowers             Insects          Pleasant        Unpleasant        3             all        2.080097
                                                                                     female     2.241011
                                                                                     male       1.903127
Musical instruments Weapons          Pleasant        Unpleasant        3             all        1.277964
                                                                                     female     1.631871
                                                                                     male       0.977174

                                                                                              p
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all      *
                                                                                     female
                                                                                     male
Male names new      Female names new Career words    Family words      3             all     **
                                                                                     female
                                                                                     male    **
Career words        Family words     Male attributes Female attributes 3             all
                                                                                     female
                                                                                     male
Intelligence words  Appearance words Male attributes Female attributes 3             all
                                                                                     female
                                                                                     male    **
MatSci words        Arts words       Male attributes Female attributes 3             all     **
                                                                                     female   *
                                                                                     male
Math words          Arts words       Male attributes Female attributes 3             all     **
                                                                                     female  **
                                                                                     male
Science words       Arts words       Male attributes Female attributes 3             all     **
                                                                                     female   *
                                                                                     male
Strenght words      Weakness words   Male attributes Female attributes 3             all     **
                                                                                     female
                                                                                     male    **
Flowers             Insects          Pleasant        Unpleasant        3             all     **
                                                                                     female  **
                                                                                     male    **
Musical instruments Weapons          Pleasant        Unpleasant        3             all     **
                                                                                     female  **
                                                                                     male    **

#### SC-WEAT (reverse)

In [26]:
results_scweat_groups = results_weat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_scweat(rows.sort_values("iter")['SC-WEAT'].tolist())) )
#results_scweat_groups = results_scweat_groups.reset_index()
results_scweat_groups.sort_index(level=['weat_test_num', 'X'])

                                                                                              score_X  \
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all     2.336746
                                                                                     female  0.584069
                                                                                     male    1.607137
Male names new      Female names new Career words    Family words      3             all     2.777886
                                                                                     female  0.451585
                                                                                     male    2.764809
Career words        Family words     Male attributes Female attributes 3             all    -1.220252
                                                                                     female -1.308808
                                                                                     male   -0.689773
Intelligence words  Appearance words Male attributes Female attributes 3             all    -1.127014
                                                                                     female -0.918633
                                                                                     male   -0.671838
MatSci words        Arts words       Male attributes Female attributes 3             all     0.060533
                                                                                     female  0.251027
                                                                                     male   -0.167739
Math words          Arts words       Male attributes Female attributes 3             all    -0.201181
                                                                                     female  0.685115
                                                                                     male   -0.256190
Science words       Arts words       Male attributes Female attributes 3             all    -0.015593
                                                                                     female  0.492745
                                                                                     male   -0.274385
Strenght words      Weakness words   Male attributes Female attributes 3             all     0.881512
                                                                                     female  0.381874
                                                                                     male    0.831149
Flowers             Insects          Pleasant        Unpleasant        3             all     0.765261
                                                                                     female  0.676318
                                                                                     male    0.685377
Musical instruments Weapons          Pleasant        Unpleasant        3             all     0.175107
                                                                                     female  0.829882
                                                                                     male    0.062286

                                                                                            p_X  \
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all     **
                                                                                     female  **
                                                                                     male    **
Male names new      Female names new Career words    Family words      3             all     **
                                                                                     female
                                                                                     male    **
Career words        Family words     Male attributes Female attributes 3             all
                                                                                     female
                                                                                     male
Intelligence words  Appearance words Male attributes Female attributes 3             all      *
                                                                                     female   *
                                                                                     male
MatSci words        Arts words       Male attributes Female attributes 3             all
                                                                                     female
                                                                                     male
Math words          Arts words       Male attributes Female attributes 3             all
                                                                                     female   *
                                                                                     male
Science words       Arts words       Male attributes Female attributes 3             all
                                                                                     female
                                                                                     male
Strenght words      Weakness words   Male attributes Female attributes 3             all      *
                                                                                     female
                                                                                     male     *
Flowers             Insects          Pleasant        Unpleasant        3             all     **
                                                                                     female  **
                                                                                     male    **
Musical instruments Weapons          Pleasant        Unpleasant        3             all
                                                                                     female  **
                                                                                     male

                                                                                              score_Y  \
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all     0.075332
                                                                                     female  0.206674
                                                                                     male    0.013647
Male names new      Female names new Career words    Family words      3             all    -0.227094
                                                                                     female -0.529873
                                                                                     male   -0.595844
Career words        Family words     Male attributes Female attributes 3             all    -1.169021
                                                                                     female -1.012584
                                                                                     male   -0.574950
Intelligence words  Appearance words Male attributes Female attributes 3             all    -1.833495
                                                                                     female -1.220446
                                                                                     male   -1.949660
MatSci words        Arts words       Male attributes Female attributes 3             all    -1.011590
                                                                                     female -0.822705
                                                                                     male   -0.575426
Math words          Arts words       Male attributes Female attributes 3             all    -1.217150
                                                                                     female -0.310414
                                                                                     male   -0.560710
Science words       Arts words       Male attributes Female attributes 3             all    -1.097888
                                                                                     female -0.426844
                                                                                     male   -0.544823
Strenght words      Weakness words   Male attributes Female attributes 3             all    -0.448264
                                                                                     female  0.101607
                                                                                     male   -0.365423
Flowers             Insects          Pleasant        Unpleasant        3             all    -1.444617
                                                                                     female -1.759395
                                                                                     male   -1.441863
Musical instruments Weapons          Pleasant        Unpleasant        3             all    -1.154653
                                                                                     female -0.803173
                                                                                     male   -0.911340

                                                                                            p_Y
A                   B                X               Y                 weat_test_num corpus
Male names          Female names     Career words    Family words      3             all
                                                                                     female
                                                                                     male
Male names new      Female names new Career words    Family words      3             all
                                                                                     female
                                                                                     male
Career words        Family words     Male attributes Female attributes 3             all      *
                                                                                     female
                                                                                     male
Intelligence words  Appearance words Male attributes Female attributes 3             all     **
                                                                                     female
                                                                                     male    **
MatSci words        Arts words       Male attributes Female attributes 3             all      *
                                                                                     female
                                                                                     male
Math words          Arts words       Male attributes Female attributes 3             all     **
                                                                                     female
                                                                                     male
Science words       Arts words       Male attributes Female attributes 3             all     **
                                                                                     female
                                                                                     male
Strenght words      Weakness words   Male attributes Female attributes 3             all      *
                                                                                     female
                                                                                     male
Flowers             Insects          Pleasant        Unpleasant        3             all     **
                                                                                     female  **
                                                                                     male    **
Musical instruments Weapons          Pleasant        Unpleasant        3             all     **
                                                                                     female  **
                                                                                     male    **

### SWEAT (reverse)

In [27]:
results_sweat = pd.read_json("../results/experiment_W2V_several_runs_WEAT_2/WEAT/sweat_test_3_rev.json")
results_sweat.head(3)

,test_name,weat_test_num,iter,corpus,A_words,B_words,X_words,Y_words,set_names,SWEAT_X,SWEAT_Y
0,Flowers_Insects_Pleasant_Unpleasant (reverse),3,0,male_Vs_female,"[lilac, bluebell, violet, crocus, buttercup, i...","[cockroach, maggot, locust, roach, centipede, ...","[family, honest, gift, wonderful, vacation, mi...","[cancer, agony, stink, sickness, poverty, acci...","{'A': 'Pleasant', 'B': 'Unpleasant', 'X': 'Flo...","{'score': 0.169234654, 'p': 0.269}","{'score': 0.1868681063, 'p': 0.247}"
1,Male_Female_Career_Family (reverse),3,0,male_Vs_female,"[paul, kevin, steve, greg, jeff, john, bill, m...","[diana, kate, joan, sarah, donna, lisa, amy, ann]","[corporation, professional, career, office, bu...","[family, marriage, wedding, children, home]","{'A': 'Career words', 'B': 'Family words', 'X'...","{'score': 0.3083787918, 'p': 0.338}","{'score': -0.08865889440000001, 'p': 0.4720000..."
2,Math_Arts_Male_Female (reverse),3,0,male_Vs_female,"[addition, math, numbers, geometry]","[poetry, drama, art, dance]","[brother, grandfather, his, son, father, man, ...","[girl, hers, her, aunt, daughter, sister, fema...","{'A': 'Male attributes', 'B': 'Female attribut...","{'score': -1.0161886141, 'p': 0.011}","{'score': -0.34784978110000003, 'p': 0.218}"

In [28]:
# explicit attrib and target set names
results_sweat = results_sweat.merge(results_sweat.set_names.apply(lambda sn: pd.Series(sn)), 
                                          left_index=True, right_index=True)
results_sweat = results_sweat.drop(columns=['test_name'])

In [29]:
# since it is reverse, we need to replace A with X and B with Y
results_sweat = results_sweat.rename(columns={'A':'X', 'B':'Y', 'X':'A', 'Y':'B'})

In [30]:
results_sweat_groups = results_sweat.groupby(['A', 'B', 'X', 'Y', "weat_test_num", "corpus"])\
                                .apply(lambda rows: 
                                      pd.Series(aggregate_results_sweat(rows.sort_values("iter")['SWEAT_X'].tolist(),
                                                                       rows.sort_values("iter")['SWEAT_Y'].tolist())) )
#results_sweat_groups = results_sweat_groups.reset_index()
results_sweat_groups.sort_index(level=['weat_test_num', 'X'])

,,,,,,score_X,p_X,score_Y,p_Y
A,B,X,Y,weat_test_num,corpus,,,,
Male names,Female names,Career words,Family words,3,male_Vs_female,0.308379,,-0.088659,
Male names new,Female names new,Career words,Family words,3,male_Vs_female,0.780345,,0.116271,
Career words,Family words,Male attributes,Female attributes,3,male_Vs_female,0.288800,,0.044239,
Intelligence words,Appearance words,Male attributes,Female attributes,3,male_Vs_female,-0.166821,,-1.463638,**
MatSci words,Arts words,Male attributes,Female attributes,3,male_Vs_female,-0.426809,,0.348518,
Math words,Arts words,Male attributes,Female attributes,3,male_Vs_female,-1.016189,*,-0.347850,
Science words,Arts words,Male attributes,Female attributes,3,male_Vs_female,-0.794954,*,-0.090202,
Strenght words,Weakness words,Male attributes,Female attributes,3,male_Vs_female,0.455027,,-0.489503,
Flowers,Insects,Pleasant,Unpleasant,3,male_Vs_female,0.169235,,0.186868,
Musical instruments,Weapons,Pleasant,Unpleasant,3,male_Vs_female,-0.578502,*,-0.408647,